.inHours{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inHours>div{
    box-shadow: 0 0 0 0.4px gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
td {
    border: 0;
    padding: 8px;
    text-align: center;
}

tr,tr>td:first-child{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}